{% extends 'core/base.html' %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h3>Product Details</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                {% if product.image %}
                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid">


                {% endif %}
            </div>
            <div class="col-md-8">
                <h4>{{ product.name }}</h4>
                <p><strong>Category:</strong> {{ product.category.name|default:"-" }}</p>
                <p><strong>Price:</strong> ${{ product.price }}</p>
                <p><strong>Stock:</strong> {{ product.stock }}</p>
                <p><strong>Description:</strong></p>
                <p>{{ product.description|linebreaks }}</p>
                
                <div class="mt-4">
                    <a href="{% url 'product-update' product.pk %}" class="btn btn-warning">Edit</a>
                    <a href="{% url 'product-delete' product.pk %}" class="btn btn-danger">Delete</a>
                    <a href="{% url 'product-list' %}" class="btn btn-secondary">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}